<!--Webpage for logging into preexisting accounts, Nora Reese, Last Updated March 21, 2024-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                background: linear-gradient(rgb(12, 12, 12), rgb(56, 65, 56)); 
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
            a {
                text-decoration: none;
            }
        </style>
        <title>Local Market Radar</title>
        <hr>
    </head>
    <body>
        <div class="login">
            <input>Username</input>
            <input>Password</input>
        </div>
        
    </body>
    
    <footer style="position: fixed; bottom: 0; width: 100%; text-align: center; color: white; font-family: sans-serif;">
        <p>Created by: Applewood-Softworks</p>
    </footer>
</html>
