body{
    background-color : rgb(33, 33, 33);
    background-size: cover;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: white;
    font-size: 56px;
    text-align: center;
    font-family: sans-serif;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: white;
    margin-left: 10px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color: white;
    margin-left: 10px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.settingsButton{
    display : inline-block;
    text-align: center;
    font-weight : bold;
    color: white;
    font-size : 20px;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(33, 33, 33);
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 90%;
    width: 100px;
}

.searchbar{
    display: flex;
    justify-content: center;
    
}
.searchbar input{
    width: 600px;
    height: 30px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid white;
    padding: 5px;
    font-size: 1em;
}
.searchButton {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 2px;
    width: 80px;
    height: 42px;
    
}
.searchButton:hover{
    background-color: rgb(66,66,66);
    
}
.searchButton p{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.footer{
    
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
    clear: both
}
.itemcontainer{
    display: flex;
    flex-grow : 1;
    
    margin: 7px 16px;
    justify-content: space-between;
    float: left;
}
.itemcard{
    
    background-color: rgb(33, 33, 33);
    border: 1px solid white;
    border-radius: 10px;
    
    padding: 10px;
    width: 210px;
    height: 245px;
    float: left;
    
    
    text-align: center; 
    color:  rgb(220,220,220);
}
.itemcard img{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    width: 145px;
    height: 100px;
}
.itemcard p.name{ 
    width: 200px;
    height: 20px;
    text-align: center;
    font-size: 1.em;
    overflow: auto;
}
.itemcard p.price{
    font-size: 0.8em;
}

.itemcard p.description{ 
      
    background-color: rgb(33, 33, 33);
    width: 200px;
    height: 50px;
    margin: 4px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 0.8em;
    overflow: auto;
}
input:focus {
    background-color: #cecece; 
}
#backButtonDiv {
    display: flex;
    justify-content: left;
    width: 100%;
    height: auto;

}
#backButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(33, 33, 33);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 2px;
    width: 80px;
    height: 42px;
}
#backButton:hover{
    background-color: rgb(66,66,66);
}
#container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
    height: auto;  
}
.ItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;

}
#itemImage{
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 25px;
    max-height: 500px;
    max-width: 50%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
