body {
    background-color : rgb(33, 33, 33); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 56px;
    color: white;
    font-family: sans-serif;
}
h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
h3{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
h4{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
p {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.settingsButton{
    display : inline-block;
    
    text-align: center;
    font-weight : bold;
    color: white;
    font-size : 20px;
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(33, 33, 33);
    border: 1px solid white;
    border-radius: 7px;
    
    margin-left: 90%;
    
    width: 100px;
}
#EditProfile {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#profilePicture_and_username {
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}
#Username_and_Email {
    display:block;
    margin-left: 20px;
}
.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#Username {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
#Email{
    color: white;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: sans-serif;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
