body {
    background-color : rgb(33, 33, 33); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    text-decoration: none;
}
h1{
    color: white;
    font-size: 56px;
    text-align: center;
    font-family: sans-serif;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: white;
    margin-left: 10px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.footer{
    
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px; 
    clear: both;
}
/* SIDEBAR */
    .settingsButton{
        display : inline-block;
        
        text-align: center;
        font-weight : bold;
        color: white;
        font-size : 20px;
        font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(33, 33, 33);
        border: 1px solid white;
        border-radius: 7px;
        
        margin-left: 90%;
        
        width: 100px;
    }
    @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
    }

    .sidebar {
        height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0;
        right: 0;
        background-color: #111; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }


    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }

/* BACK BUTTON */
    #backButtonDiv {
        display: flex;
        justify-content: left;
        width: 100%;
        height: auto;

    }
    #backButton{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(33, 33, 33);
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 50px;
        border-radius: 2px;
        width: 80px;
        height: 42px;
    }
    #backButton:hover{
        background-color: rgb(66,66,66);
    }
/* MAIN CONTAINTER*/

    #container{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-right: auto;
    }
    #profilePicture_and_username {
        display: flex;
        flex-direction: space-around;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    
    }
    #Username_and_Email {
        display:block;
        margin-left: 20px;
    }
    #profilePicture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    #Username {
        font-size: 30px;
        color: white;
        font-family: sans-serif;
    }
    #Email{
        color: white;
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-family: sans-serif;
    }
    #profileOptions{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
    }
    #EditProfile {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: white;
    }
    #ProductsButton{
        height: 50px;
        width: 400px;
    }
/* Products */
    #addProduct{
        
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(33, 33, 33);
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;

        border-radius: 2px;
        width: 52px;
        height: 42px;
        
        margin-right:50px;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
   
    }
    #addProduct:hover{
        background-color: rgb(66,66,66);
    }
    .itemcontainer{
        display: flex;
        flex-grow : 1;
        
        margin: 16px 16px;
        justify-content: space-between;
        float: left;
    }
    .itemcard{
        
        background-color: rgb(33, 33, 33);
        border: 1px solid white;
        border-radius: 10px;
        
        padding: 10px;
        width: 210px;
        height: 245px;
        float: left;
        
        
        text-align: center; 
        color:  rgb(220,220,220);
    }
    .itemcard img{
        margin-left: auto;
        margin-right: auto;
        border: 2px solid grey;
        width: 145px;
        height: 100px;
    }
    .itemcard p.name{ 
        width: 200px;
        height: 20px;
        text-align: center;
        font-size: 1.em;
        overflow: auto;
    }
    .itemcard p.price{
        font-size: 0.8em;
    }

    .itemcard p.description{ 
        
        background-color: rgb(33, 33, 33);
        width: 200px;
        height: 50px;
        margin: 4px;
        border: 1px solid white;
        border-radius: 10px;
        font-size: 0.8em;
        overflow: auto;
    }
